<!-- The Modal -->
<div id="delete_modal" class="delete-modal">

  <!-- Modal content -->
    <div class="delete-modal-content">
        <div class="delete-modal-header">
            <span class="delete-modal-close">&times;</span>
            <h3>Delete alias?</h3>
        </div>
        <div class="delete-modal-body">
            <h2 id="delete-title-message">Are you sure you want to delete x ?</h2>
            <div id="error_delete" class="delete-error-message"></div>
                <div class="delete-modal-button-div">
                    <input id="delete-modal-btn" type="submit" value="Delete" class="delete-modal-btn">
                    <input type="submit" value="Cancel" class="cancel-delete-modal-btn" onclick="undisplay_delete()">
                </div>
        </div>
    </div>

</div>
