<!doctype html>
<html>

<head>
    <title>Aliaser</title>
    <meta charset="utf-8">
    <meta name="description" content="Aliaser to give URLs aliases">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    {% block css %}{% endblock %}
</head>

<body>
{# {% include 'navigation.jinja2' %} #}
{% block content %}{% endblock %}
{% block table %}{% endblock %}
</body>

<script type = "text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='js/datatable/dataTables.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='js/datatable/dataTables.bootstrap5.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>